#aboutPage{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 90vw;
  margin: auto;
  grid-gap: 10px;
  margin-top: 25px;
}

#aboutPage article{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(500px,auto);
}

#aboutPage article :nth-child(n){
  grid-column-end: span 4;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 20px;
  border-radius: 2rem;
}

@media screen and (max-width: 640px) {
  #aboutPage article :nth-child(n){
    grid-column-end: span 13;}
}